<div class="modal fade" id="editModal" tabIndex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form  #f="ngForm" (ngSubmit)="(isNameChanged(fileToEdit.fileShowName) || isDescriptionChanged(fileToEdit.description)) && saveFile()">
        <div class="modal-header">
          <h5 class="modal-title">Edit</h5>
          <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
        </div>
          <div class="alert alert-danger" *ngIf="errorMessage">
            <strong> Error occurred</strong> {{errorMessage}}
          </div>

        <div class="form-group">
          <label for="title">File Name</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            [(ngModel)]="fileToEdit.fileShowName"
            #title="ngModel"
            required
          />
          <div class="alert-danger" *ngIf="f.submitted && (!title.valid || (!isNameChanged(fileToEdit.fileShowName) && !isDescriptionChanged(fileToEdit.description)))">
            Title is required
          </div>
        </div>

        <div class="form-group">
          <label for="title">File description</label>
          <input
            type="description"
            class="form-control"
            id="description"
            name="description"
            [(ngModel)]="fileToEdit.description"
            #description="ngModel"
            required
          />
          <div class="alert-danger" *ngIf="f.submitted && (!isNameChanged(fileToEdit.fileShowName) && !isDescriptionChanged(fileToEdit.description))">
            Description is required
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
