<div class="modal fade" id="changePasswordModal" tabIndex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #f="ngForm" (ngSubmit)="f.submitted && f.form.valid  && !isPasswordEmpty(currentPassword) && !isPasswordEmpty(firstPassword) && !isPasswordEmpty(againPassword) && arePasswordsIdentical(firstPassword,againPassword) && !arePasswordsIdentical(currentPassword,againPassword) && savePassword(f)">
        <div class="modal-header">
          <h5 class="modal-title">Change Password</h5>
          <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">Insert current password and new one </div>
        <div class="alert alert-danger" *ngIf="errorMessage">
          <strong> Error occurred</strong> {{errorMessage}}
        </div>

        <div class="form-group">
          <label class="ps-3">Current Password </label>
          <input
            type="password"
            class="form-control"
            id="currentPass"
            name="currentPass"
            [(ngModel)]="currentPassword"
            #currentPass="ngModel"
            required
          />
          <div class="alert-danger ps-3 text-danger" *ngIf="f.submitted && !currentPass.valid && isPasswordEmpty(currentPassword)">
            Password is required
          </div>
        </div>

        <div class="form-group">
          <label class="ps-3">New Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="firstPassword"
            #password="ngModel"
            required
          />
          <div class="alert-danger ps-3 text-danger" *ngIf="f.submitted && !password.valid && isPasswordEmpty(firstPassword)">
            Password is required
          </div>
        </div>

        <div class="form-group">
          <label class="ps-3"> Repeat Password</label>
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            [(ngModel)]="againPassword"
            #password2="ngModel"
            required
          />

          <div class="alert-danger ps-3 text-danger" *ngIf="f.submitted">
            <div class="alert-danger" *ngIf="isPasswordEmpty(againPassword)" >
              Password is required
            </div>
            <div class="alert-danger" *ngIf="!arePasswordsIdentical(firstPassword,againPassword) && !isPasswordEmpty(againPassword)" >
              Password is not identical
            </div>
            <div class="alert-danger" *ngIf="arePasswordsIdentical(firstPassword,againPassword) && !isPasswordEmpty(againPassword) && arePasswordsIdentical(currentPassword,againPassword)" >
              Password is identical as current one
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
